
.navbar-container-dark {
    background-blend-mode: hue;
    overflow: hidden;
}
.navbar-container-dark::before{
    content: "";
    background: rgba(0, 0, 0, .9);
    inset: 0;
    position: absolute;
    z-index: -1;
    filter: blur(1px);
}

.navbar-container-light {
    background-color: rgba(255, 255, 255, .9);
}

.navbar-title {
    background: linear-gradient(90deg, #172d9d, #787cfe);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.text-gradient {
    letter-spacing: 2px;
    background: linear-gradient(to right, #3882c3, #7f00ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bolder;
}

.navbar-link {
    padding-top: 5px;
    padding-bottom: 5px;
}

.home-page {
    background-blend-mode: hue;
    overflow: hidden;
    scrollbar-width: 0;
    position: relative;
    background: radial-gradient(circle at top left, #000051, transparent 60%), radial-gradient(circle at bottom right, #000080, transparent 60%);
}
.home-page::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at top left, #000051, transparent 60%), radial-gradient(circle at bottom right, #000080, transparent 60%);
    filter: blur(100px);
    z-index: -1;
    border: 1px solid;
}

.cta-btn {
    
    background: #7f00ff;
}
.feature-card-element {
    padding: 20px;
    border-radius: 10px;
    transition: all .5s;
}
.feature-card-element:hover {
    scale: 1.05;

}
.feature-card-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    font-size: x-large;
    font-weight: bold;
}
.feature-card-description {
    font-weight: lighter;
    letter-spacing: 1px;
}

.scale-btn {
    transition: all .5s;
}
.scale-btn:hover {
    scale: 1.1;
}

.tech-card {
    display: flex;
    gap: 17px;
    padding: 15px;
    align-items: center;
    padding-left: 20px;
    transition: all .5s;
}

.tech-card:hover {
    scale: 1.05;
    transform: translate3d(10px);
}

html[data-theme="dark"] {
 .tras-bg {
    background: rgba(255, 255, 255, .06);
}
}

html[data-theme="light"] {
 .tras-bg {
    background: rgba(0, 0, 0, .06);
}
}

@media (min-width: 1024px) {
    html[data-theme="dark"] {
        .tras-bg {
            background: transparent;
        }
        .tras-bg:hover {
            background: rgba(255, 255, 255, .06);
        }
    }

    html[data-theme="light"] {
        .tras-bg {
            background: transparent;
        }
        .tras-bg:hover {
            background: rgba(0, 0, 0, .06);
        }
    }

}


.tras-bg:hover .title {
    background: linear-gradient(to right, #3882c3, #7f00ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    cursor: pointer;
    font-weight: bold;
}

.tras-bg:hover .proj-img-border {
    border: 1.5px solid;
    border-color: rgba(255, 255, 255, .1);
}

.tras-bg {
   transition: all .5s;
}

.proj-img-border {
    border: 1px solid;
    border-color: rgba(255, 255, 255, .08);
}

